# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Flutter build files
build/

.packages

Generated.xcconfig

# Android
android/.gradle/
android/app/debug
android/app/release
android/key.properties

# iOS/macOS
ios/Pods/
macos/Pods/
*.xcworkspace
*.xcuserstate
DerivedData/

# VS Code/IDE settings
.vscode/



# Firebase configs
google-services.json
firebase_options.dart

# Other

*.lock

